
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: black;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  background: white;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  flex-wrap: wrap;
}

.form__label {
  color: white;
  text-align: center;
}

.pizza {
  width: min(80%, 250px);
}

#form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.buscador {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.form__input {
  display: flex;
  background-color: #3b3b3b;
  outline: none;
  border: none;
  padding: 15px 10px;
  border-radius: 8px;
  width: 100px;
  color: white;
  padding-left: 5px;
}

.input-container img {
  width: 34px;
  background-color: #3b3b3b;
  border-radius: 8px 0px 0px 8px;
  padding: 0.7rem;
}

.form__btn {
  background: rgb(238, 232, 156);
  padding: 10px 80px;
  border-radius: 8px;
  color: black;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
}

.form__btn:hover {
  cursor: pointer;
}

.card_resultado {
  display: flex;
  background-color: yellow;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 3rem;
  padding: 3rem;
  max-width: 700px;
}

.img_pizza {
  max-width: 300px;
  max-height: 300px;
}

.error,
.titulo {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.titulo {
  background: black;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.precio {
  color: black;
  font-size: 1rem;
  text-align: center;
}

